doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav Soloäventyr om flickan med svavelstickor
    block content
    footer
      <a class="right" href="mailto:hege@example.com">Du kan kontakta mig via: Hildajensson@gmail.com</a>
 
    